In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from scipy import stats

PATH = 'https://raw.githubusercontent.com/Thinkful-Ed/data-201-resources/master/1.4.11_experimentation_guided_example/experiment_data_2_wks.csv'
experiment_data = pd.read_csv(PATH)

In [2]:
experiment_data.head(10)

  treatment_date  test  is_signed_up signup_date
0     2016-04-01     0             0         NaN
1     2016-04-01     0             0         NaN
2     2016-04-01     0             0         NaN
3     2016-04-01     0             0         NaN
4     2016-04-01     0             0         NaN
5     2016-04-01     0             0         NaN
6     2016-04-01     1             1  2016-04-02
7     2016-04-01     0             0         NaN
8     2016-04-01     0             0         NaN
9     2016-04-01     0             0         NaN

In [35]:
df = experiment_data
#How large is each group?

groupsize = pd.Series(experiment_data.test.value_counts())
print(groupsize)

#what is the sign up rate for test and control?
df.dtypes
signups = pd.DataFrame(df.groupby(df.test).sum())
print(signups)
signups['gz'] = groupsize
signups['rate'] = signups.is_signed_up/signups.gz
print( signups)
#Is the experiment already signigicant?
stats.ttest_ind(df[df.test == 1].is_signed_up,
                df[df.test == 0].is_signed_up)
#No, the 10% test group with the new email is signing up at a lower rate

0    30241
1     3372
Name: test, dtype: int64
      is_signed_up
test
0             4448
1              462
      is_signed_up     gz      rate
test
0             4448  30241  0.147085
1              462   3372  0.137011

Ttest_indResult(statistic=-1.5711354292574262, pvalue=0.11616060761145311)

In [31]:


print(signups)

      is_signed_up     gz
test
0             4448  30241
1              462   3372

test signup rate: 0.13701067615658363