In [18]:
import pandas as pd
import re
import statistics as st

#Function for easy organization of info
#NOTE THIS IS THE CLEAN(ER) SCRIPT, FOR THE EVOLUTION SEE 'wellcomedataexplore.ipynb'
def summary(cost):
    df1 = pd.DataFrame()
    df1['cost'] = cost  
    mean = sum(df1['cost']) / len(df1['cost'])
    median = st.median(df1['cost'])           
    v = df1['cost'].var()
    s = v ** 0.5
    df2 = pd.DataFrame()
    df2["Values"] = ["%.2f" %mean, median,"%.2f" %v, s]
    df2.index = ['Mean', 'Median', 'Variance', 'Std Dev']   
    return df2
#import CSV with Encoding "ISO-8859-1" to control for '£'
df = pd.read_csv('WELLCOME_APCspend2013_forThinkful.csv', encoding = "ISO-8859-1")
#set the entire DF to lowercase
df = df.apply(lambda x: x.astype(str).str.lower())
#correct obvious matching journals
df['Journal title'] = df['Journal title'].replace('plosone', 'plos one')
print(df['Journal title'].value_counts().head(5))
#drop duplicate articles
df = df.drop_duplicates('Article title')
print(df['Journal title'].value_counts().head(5))
#remove the '£' sign
df['COST (£) charged to Wellcome (inc VAT when charged)'] = df['COST (£) charged to Wellcome (inc VAT when charged)'].str[1:]
#replace '$' with '' for price of plospath
print(df['Journal title'].value_counts().head(5))
df['COST (£) charged to Wellcome (inc VAT when charged)'] = df['COST (£) charged to Wellcome (inc VAT when charged)'].str.replace('$', '')
#convert clean prices from object to numeric
print(df['Journal title'].value_counts().head(5))
df['COST (£) charged to Wellcome (inc VAT when charged)'] = df['COST (£) charged to Wellcome (inc VAT when charged)'].apply(pd.to_numeric, errors='ignore')
#remove million dollar entries
print(df['Journal title'].value_counts().head(5))
df = df.loc[df['COST (£) charged to Wellcome (inc VAT when charged)'] != 999999.00]
#check top 5 journals
print(df['Journal title'].value_counts().head(5))
#create price series for the 5 most common journals
nar =  pd.Series(df.loc[(df['Journal title'] == 'nucleic acids research'), 'COST (£) charged to Wellcome (inc VAT when charged)'])
plosone = pd.Series(df.loc[(df['Journal title'] == 'plos one'), 'COST (£) charged to Wellcome (inc VAT when charged)'])
jobc = pd.Series(df.loc[(df['Journal title'] == 'journal of biological chemistry'), 'COST (£) charged to Wellcome (inc VAT when charged)'])
ni =  pd.Series(df.loc[(df['Journal title'] == 'neuroimage'), 'COST (£) charged to Wellcome (inc VAT when charged)'])
plosgen =  pd.Series(df.loc[(df['Journal title'] == 'plos genetics'), 'COST (£) charged to Wellcome (inc VAT when charged)'])
#use the Series name as argument for summary function. ex: 'summary(plosone)'

plos one                           199
journal of biological chemistry     53
neuroimage                          29
plos pathogens                      24
plos genetics                       24
Name: Journal title, dtype: int64
plos one                           198
journal of biological chemistry     53
neuroimage                          29
plos pathogens                      24
plos genetics                       24
Name: Journal title, dtype: int64
plos one                           198
journal of biological chemistry     53
neuroimage                          29
plos pathogens                      24
plos genetics                       24
Name: Journal title, dtype: int64
plos one                           198
journal of biological chemistry     53
neuroimage                          29
plos pathogens                      24
plos genetics                       24
Name: Journal title, dtype: int64
plos one                           198
journal of biological chemistry     53
neuroimage                          29
plos pathogens                      24
plos genetics                       24
Name: Journal title, dtype: int64
plos one                           190
journal of biological chemistry     52
neuroimage                          29
nucleic acids research              23
plos genetics                       22
Name: Journal title, dtype: int64

In [19]:
print("PloS One")
summary(plosone)

PloS One

                Values
Mean           1941.48
Median         895.515
Variance  193479644.81
Std Dev        13909.7

In [20]:
print("Journal of Bio Chem")
summary(jobc)

Journal of Bio Chem

             Values
Mean        1423.59
Median      1301.14
Variance  169706.39
Std Dev     411.954

In [21]:
print("NeuroImage")
summary(ni)

NeuroImage

            Values
Mean       2215.17
Median     2326.43
Variance  71104.33
Std Dev    266.654

In [22]:
print("Nucleic Acids Research")
summary(nar)

Nucleic Acids Research

             Values
Mean        1169.22
Median          852
Variance  206415.18
Std Dev     454.329

In [23]:
print("PloS Genetics")
summary(plosgen)

PloS Genetics

            Values
Mean       1643.11
Median     1712.73
Variance  23521.38
Std Dev    153.367